USE [master]
GO
/****** Object:  Database [LogDatabase]    Script Date: 9/13/2018 6:41:58 PM ******/
CREATE DATABASE [LogDatabase]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LogDatabase', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\LogDatabase.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'LogDatabase_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\LogDatabase_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LogDatabase].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LogDatabase]
GO
/****** Object:  Table [dbo].[logger]    Script Date: 9/13/2018 6:41:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[logger](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Request] [char](50) NULL,
	[Response] [char](50) NULL,
	[Exception] [char](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
